body {
    display: flex;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
}